{
  "JOTDEX_CLOUD_DROPBOX_APP_KEY": "",
  "JOTDEX_CLOUD_DROPBOX_REDIRECT_URI": "http://127.0.0.1:5180/oauth/dropbox",
  "JOTDEX_CLOUD_GOOGLE_CLIENT_ID": "",
  "JOTDEX_CLOUD_GOOGLE_REDIRECT_URI": "http://127.0.0.1:5180/oauth/google",
  "JOTDEX_CLOUD_ONEDRIVE_CLIENT_ID": "",
  "JOTDEX_CLOUD_ONEDRIVE_REDIRECT_URI": "http://127.0.0.1:5180/oauth/onedrive"
}
